header {  
    color: white;
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
    height: 60px;
}
.economia {
    position: absolute;
    top: 12;
    left: 12;
    width: 55px;
    height: 55px;
}
.menu {
    font-size: 20px; 
    font-style: italic;  
    color: white;
    margin-left: 280px;
    margin-top: 10px;
}
.econo {
    text-align: center;
    font-size: 46px; 
    font-style: italic;
}
footer {
    color: white;
    background-color: rgb(148, 148, 148);
    position: fixed;
    bottom: 0;
    width: 99%;
    border-radius: 10px;
}
.parte {
    text-align: center;
    background-color: rgb(185, 185, 185);
    height: 30px;
    color: rgb(49, 49, 49);
    border-radius: 20px;
}
.imagen {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 280px;
    left: 85px;
    border-radius: 10px;
}
.grande {
    position: absolute;
    top: 400px;
    left: 30px;
    font-size: 20px;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
}
.imagen2 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 280px;
    left: 400px;
    border-radius: 10px;
}
.grande2 {
    position: absolute;
    top: 400px;
    left: 330px;
    font-size: 20px;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
}