header {  
    color: white;
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
    height: 60px;
}
.economia {
    position: absolute;
    top: 12;
    left: 12;
    width: 55px;
    height: 55px;
}
.menu {
    font-size: 20px; 
    font-style: italic;  
    color: white;
    margin-left: 450px;
    margin-top: 50px; 
    
}
.econo {
    text-align: center;
    font-size: 46px; 
    font-style: italic;
}
footer {
    color: white;
    background-color: rgb(148, 148, 148);
    position: fixed;
    bottom: 0;
    width: 99%; 
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
}
.parte {
    text-align: center;
    background-color: rgb(185, 185, 185);
    height: 30px;
    color: rgb(49, 49, 49);
    border-radius: 20px;
}
.image-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 0; 
    position: relative; 
    bottom: -200px; 
    padding: 10px; 
}

.image-item {
    text-align: center;
}

.image-item img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.image-item p {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}