header {  
    color: white;
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
    height: 60px;
}
.economia {
    position: absolute;
    top: 12;
    left: 12;
    width: 55px;
    height: 55px;
}
.menu {
    font-size: 20px; 
    font-style: italic;  
    color: white;
    margin-left: 21em;
}
.sobre {
    text-align: center;
    font-size: 46px; 
    font-style: italic;
}
footer {
    color: white;
    background-color: rgb(148, 148, 148);
    position: fixed;
    bottom: 0;
    width: 99%;
    border-radius: 10px;
}