<html>
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Economia Eletronica</title>
         <link href="../models/pode.css" rel="stylesheet" type="text/css">
       <link rel="icon" href="../models/economia.png" type="image/png">
    </head>
    <body>
        <header>
            <h1 class="pode">Como a Economia Eletrônica pode ajudar o planeta</h1>
        </header>
    <a href="site.html"><img src="../models/economia.png" class="economia"></a>

    </body>
    <footer>
        <a href="site.html" class="menu">Home</a>
        <a href="sobre.html" class="menu">Sobre</a>
        <a href="contato.html" class="menu">Contato</a>
    </footer>
</html>