<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Economia Eletronica</title>
        <link href="../models/estilo.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="../models/economia.png" type="image/x-icon">
    </head>
    <body>
        <header>
            <h1 class="econo">Economia Eletrônica</h1>
        </header>
        <a href="site.html"><img src="../models/economia.png" class="economia"></a>
        <h2 class="parte">Bem-vindo ao site de Economia Eletrônica</h2>
        <p class="parte">Aqui você encontra informações sobre economia, finanças e investimentos. Aproveite!</p>
    </body>
    <footer>
        <a href="site.html" class="menu">Home</a>
        <a href="sobre.html" class="menu">Sobre</a>
        <a href="contato.html" class="menu">Contato</a>
    </footer>
</html>