<html>
    <head>
       <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EcoEscola Digital</title>
        <link href="../models/contato.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="https://bing.com/th/id/BCO.4b53a3ac-66d9-4fd3-97d1-eece15e420a7.png" type="image/x-icon">
    </head>
    <body>
        <header>
            <h1 class="econo">EcoEscola Digital</h1>
            <a href="site.html"><img src="https://bing.com/th/id/BCO.4b53a3ac-66d9-4fd3-97d1-eece15e420a7.png" class="economia"></a>
        </header>
        <h2 class="parte">Contate-nos sobre a sua experiencia</h2>

    </body>
    <footer>
        <a href="site.html" class="menu">Home</a>
        <a href="sobre.html" class="menu">Sobre</a>
        <a href="contato.html" class="menu">Contato</a>
    </footer>
</html>